/* CSS EXERCISES

        11) Give a maximum width to the body and center it in the page
        12) Set every h1 to be centered
        13) Change the color of each link in the page
        14) Create a class with a border
        15) Set table to have rounded corners
        16) Add margin between every paragraph
        17) Create a class which change font size and boldness
        18) Create a class to hide a content
        19) Add a green border to each td
        20) Add a dotted red border to each tr (note: tr does not accept a border property ;-) )
 */

table {
  /* background-color: rgb(6, 29, 12); */
  border-radius: 12px;
  border-collapse: collapse;
  color: black;
  /* border: 2px dotted rgb(187, 119, 30); */
}

ol {
  border-radius: 12px;  
  border: 2px dotted rgb(187, 119, 30);
  color: red;
  margin: 2px;
}

ol li {
  border-radius: 8px; 
  border: inherit;
  margin: 5px;
}

body {
  max-width: 796px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  cursor: pointer;
}
a {
  color: blue;
}

p {
  display: block;
  margin: 10px;
}

td {
  border: 1px solid black;
  min-width: 140px;
  height: 120px;
}


/* tr td:first-child {
  border-left: 1px dotted red;
}

tr td:last-child {
  border-left: 1px dotted red;
} */

.font {
  font-size: 20px;
  font-style: bold;
}

.hidden {
  visibility: hidden;
}

.red {
  background-color: red;
}